<div id="<%= dom_id chart %>">
  <p>
    <strong>User:</strong>
    <%= chart.user_id %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= chart.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= chart.description %>
  </p>

  <p>
    <strong>Results:</strong>
    <%= chart.results %>
  </p>

</div>
