<p style="color: green"><%= notice %></p>

<%= render @chart %>

<p>
  <strong>Image:</strong>
  <%= image_tag(url_for(@chart.image)) if @chart.image.attached? %>
</p>

<div>
  <%= link_to "Edit this chart", edit_chart_path(@chart) %> |
  <%= link_to "Back to charts", charts_path %>

  <%= button_to "Destroy this chart", @chart, method: :delete %>
</div>
